.sidebar-filter{
    padding: 20px 15px;
    background: #fff;
    border-radius: 0.5rem;
    border: 1px solid rgb(218, 225, 231);
    position: sticky;
    top: 15px;
    height: calc(100vh - 30px);
    overflow-y: scroll;
}
.sidebar-filter>div{
    border-bottom: 1px solid rgb(218, 225, 231);
}
.side-filter-categories h5, 
.side-filter-price h5, 
.side-filter-brands h5,
.side-filter-rating h5,
.side-filter-color h5{
    font-size: 16px;
    margin-bottom: 10px !important;
}
.side-filter-categories>ul, .side-filter-brands>ul{
    height: 200px;
    overflow-y: scroll;
    padding: 10px;
    border: 1px solid rgb(218, 225, 231);
    border-radius: 0.3rem;
}
.side-filter-categories>ul, .side-filter-categories>ul>li>ul{
    padding: 0 10px;
}
.side-filter-categories a, .side-filter-brands a{   
    font-size: 14px;
    text-decoration: none;
    color: var(--text-main-color);
}
.side-filter-brands svg{
    font-size: 12px;
    margin: 0 10px
}
.side-filter-rating>span{
    display: flex;
    margin-bottom: 10px;
}
.category-pagination{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.category-pagination button.Mui-selected{
    background-color: var(--main-color) !important;
    color: #fff;
    border-color: transparent;
}
